PROJECT_NAME=DOJO_MANAGER_ERP

ENVIRONMENT=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=dojo_manager
DATABASE_USER=postgres
DATABASE_PASSWORD=password

SECRET_KEY=change_this_key
ALGORITHM=HS256

API_PORT=8000
DEBUG=True
